<%- include('../partials/profile')%>
<div class="user-activity-headers">
  <a href="/user/<%= user._id %>/page/1">
    <div class="header">Posts</div>
  </a>
  <a href="/user/<%= user._id %>/comments/page/1">
    <div class="header">Comments</div>
  </a>
  <a href="/user/<%= user._id %>/liked/page/1">
    <div class="active-header">Liked posts</div>
  </a>
</div>
<div class="user-activity">
  <div class="posts-pagination">
    <% for (let like of likedPosts) { %>
    <div class="post-wrapper">
      <div class="post-header">
        <div class="post-author">
          <% if (like.author.image) { %>
          <a href="/user/<%= like.author._id %>">
            <% like.author.image.forEach(function(img, i) { %>
            <img src="<%= img.avatar %>" alt="Post author's avatar" id="user-avatar">
            <% }) %>
          </a>
          <% } else { %>
          <a href="/user/<%= like.author._id %>"><img src="/images/placeholder.svg" alt="" id="user-avatar"></a>
          <% } %>
          <a href="/user/<%= like.author._id %>">
            <%= like.author.username %>
          </a>
        </div>
        <div class="post-date">
          <a href="/posts/<%= like._id %>">
            <%= like.date.toUTCString().slice(0, -4) %>
          </a>
        </div>
      </div>
      <div class="post-text">
        <p>
          <%= like.text %>
        </p>
      </div>
      <% if (like.image.length) { %>
      <div class="post-img"><img src="<%= like.image[0].url %>" id="post-image" alt="Post's image"></div>
      <% } %>
      <div class="post-stats">
        <ul>
          <li><a href="/posts/<%= like._id %>">Comment (<%= like.comments.length %>)
            </a></li>
        </ul>
      </div>
    </div>
    <% } %>
  </div>
</div>
<div class="pagination">
  <% if (page>1) { %>
  <a href="/user/<%= user._id %>/liked/page/<%= page - 1 %>">

    < Previous page</a>
      <% } %>
      <% if (page*10 < likedPosts.length) { %>
      <a href="/user/<%= user._id %>/liked/page/<%= page + 1 %>">Next page ></a>
      <% } %>
</div>


<script src="/js/reload.js"></script>